body {
    margin: 2%;
    background-color: #000000;
}

h1 {
    text-align: center;
    color: gray;
    opacity: 0;
}

@keyframes FadeIn1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in-1 {
    animation: FadeIn1 4s forwards
}

h2 {
    font-size: 1.25em;
    color: gray;
    font-style: italic;
    text-align: center
}

@keyframes FadeIn2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.fade-in-2 {
    animation: FadeIn2 7s forwards
}

#btn-container {
    margin-top: 2%
}

#loading-img {
    width: 5%;
    display: block;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 2s infinite linear;
}

button {
    margin: 2px;
    border: solid 2px gray;
    color: black;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

#make-drinks {
    margin: 0 auto;
    margin-top: 3%;
    font-size: 1.5em;
}

#select-all, #edit-ingredients, #make-drinks {
    font-style: italic;
}

.col-4 {
    margin: 2% 0 5% 0
}

.card-body p:nth-child(1) {
    font-weight: bold;
}

.more-info-btn {
    float: right;
    padding: 2px;
    border: solid 2px gray;
    border-radius: 5px;
    cursor: pointer;
}

.hovered, .selected, #make-drinks:hover, #edit-ingredients:hover, #select-all:hover, .more-info-btn:hover {
    color: white;
    background: gray;
}

.more-info-btn:hover {
    border: solid 2px black;
}

.hidden {
    display: none
}