body {
    margin: 2%;
    background-color: #000000;
}

h1 {
    text-align: center;
    color: gray;
}

h2 {
    font-size: 1.25em;
    color: gray;
    font-style: italic;
    text-align: center
}

#btn-container {
    margin-top: 2%
}

button {
    margin: 2px;
    border: solid 2px gray;
    color: black;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

#make-drinks {
    margin: 0 auto;
    margin-top: 3%;
    font-size: 1.5em;
}

.col-4 {
    margin: 5% 0 5% 0
}

.card-body p:nth-child(1) {
    font-weight: bold;
}

.more-info-btn {
    float: right;
    padding: 2px;
    border: solid 2px gray;
    border-radius: 5px;
    cursor: pointer;
}

.hovered, .selected, #make-drinks:hover, #edit-ingredients:hover, #select-all:hover, .more-info-btn:hover {
    color: white;
    background: gray;
}

.more-info-btn:hover {
    border: solid 2px black;
}

.hidden {
    display: none
}