body {
    margin: 2%;
    background-color: #000000;
}

h1 {
    text-align: center;
    color: gray;
}

h2 {
    font-size: 1.25em;
    color: gray;
    font-style: italic;
    text-align: center
}

#btn-container {
    margin-top: 2%
}

button {
    margin: 2px;
    border: solid 2px gray;
    color: black;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

#make-me-drinks {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    font-size: 1.5em;
    color: black;
    border: gray solid 2px;
}

#make-me-drinks:hover {
    color: white;
    background-color: gray;
}

.selected {
    color: #FFFFFF;
    background: gray;
}

.more-info-btn {
    float: right;
    padding: 2px;
    border: solid 2px gray;
    border-radius: 5px;
    cursor: pointer;
}

.more-info-btn:hover {
    background-color: gray;
    color: white;
}

.col-4 {
    margin: 5% 0 5% 0
}

.hidden {
    display: none
}